In [19]:
# Cleaning the data from the database and integrating with Groq LLM
# This script is part of a larger system that manages parts data and provides search functionality.

import pandas as pd
import sqlite3

In [20]:
# Define the path to your database 
db_path = 'parts.db'
table = 'parts'

In [21]:
try : 
    conn = sqlite3.connect(db_path)
    print(f"Successfully connected")
    df = pd.read_sql_query(f"SELECT * FROM {table}", conn)
    conn.execute(""" UPDATE parts  
                 SET AS Category""")
    print(f"Data loaded successfully from {table} table.")
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    if conn:
        conn.close()
        print("Connection closed.")

Successfully connected
An error occurred: near "AS": syntax error
Connection closed.

In [34]:
import pandas as pd
import sqlite3  

# Connect to your database
conn = sqlite3.connect('parts.db')  # update with your actual database

# Optional: run the update query first
conn.execute("""
    UPDATE parts
    SET category = 'brakes'
    WHERE category = 'Breaks';
""")
conn.commit()

In [38]:
query = "SELECT * FROM parts;"
df = pd.read_sql_query(query, conn)
df.head()

,id,TransactionID,Date,CustomerID,PartNo,Quantity,Rate,TotalPrice,PartDescription,Category,Source,VehicleMake
0,0,4269,21-01-2023,CUST-342,SDT10193(STD),3,12.89,38.67,CLUTCHDISK,Others,Source,Honda
1,1,8603,22-06-2024,CUST-834,M748A-STD,2,8.97,17.94,LOWER ARM BUSH,Engine,Aftermarket,VehicleMake
2,2,5669,17-09-2024,CUST-829,KYB334698,1,4.72,4.72,ENGMATE,Others,OEM,Toyota
3,3,958,13-11-2023,CUST-162,04371-60070,1,5.46,5.46,ENGINE INSULATION,Others,OEM,Nissan
4,4,7117,05-10-2024,CUST-328,GWT131,1,5.95,5.95,SHOCK ABSORBER,Engine,Aftermarket,Mitsubishi

In [39]:
df['Category'].unique()

array(['Others', 'Engine', 'fuel', 'Body', 'brakes'], dtype=object)

In [32]:
categories = df['Category'].unique()
print(f"Unique categories found: {categories}")

Unique categories found: ['Others' 'Engine' 'fuel' 'Body' 'Breaks']

In [6]:
""" Cleaning the categories and classifying them into 5 main categories.
1.Engine
2.Body
3.Breaks
4.Fuel
5.Others
"""
# This dictionary maps each of your specific categories to a main one.
# It's more precise than the previous keyword-based approach.
exact_mapping = {
    # Engine
    'Engines & Systems': 'Engine',
    'Engine Parts': 'Engine',
    'engine Parts': 'Engine',
    'Engines & Engine Parts': 'Engine',
    'Engines & Drivetrain': 'Engine',
    'Engines & Cars': 'Engine',
    'Engine Mounts': 'Engine',
    'Cooling System': 'Engine',
    'Ignition': 'Engine',
    'Valves': 'Engine',
    'Gaskets & Seals': 'Engine',
    'Belts & Hoses': 'Engine',
    'Drivetrain': 'Engine',
    'Air Filtration': 'Engine',
    
    # Body
    'Suspension': 'Body',
    'Suspenders': 'Body', # Assumed typo for Suspension
    'Body & Trim': 'Body',
    
    # Fuel
    'Fuel Systems': 'fuel',
    'Fuel System': 'fuel',
    
    # Brakes
    'BrakingSystem': 'Brakes',
    'Braking System': 'Brakes',
    'Braking Systems': 'Brakes',
    
    # Others (Steering, Fluids, Filters, and miscellaneous)
    'Power Steoring': 'Others', # Typo for Steering
    'Steering': 'Others',
    ' steering': 'Others',
    'Fluids & Chemicals': 'Others',
    'Filtration': 'Others',
    'Filter': 'Others',
    'Estimated': 'Others',
    'Category': 'Others'
}

def classify_category(category: str) -> str:
    """
    Classifies a category using a direct mapping.
    Uses .strip() to handle potential extra spaces.
    """
    return exact_mapping.get(category.strip(), 'Others')

In [7]:
print("Updating the 'Category' column...")
df['Category'] = df['Category'].apply(classify_category)

Updating the 'Category' column...

In [8]:
categories = df['Category'].unique()
print(f"Unique categories found: {categories}")

Unique categories found: ['Others']

In [9]:
print(df.sample(50))

        id TransactionID        Date CustomerID         PartNo  Quantity  \
1775  1775            50  28-02-2023   CUST-265      M748A-STD         1
815    815          2969  11-04-2023   CUST-534    83320â€‘0K01A         3
492    492          2166  01-03-2025   CUST-505    21200-31U1B         2
2938  2938           123  23-05-2023   CUST-429    90445-18130         1
1848  1848           139  11-06-2023   CUST-361      KYB334399         2
913    913          3291  24-03-2025   CUST-540    23826-31080         2
2823  2823            96  22-04-2023   CUST-305    KYB33340187         2
1373  1373             6  08-01-2023   CUST-489     DIAMBD-502         1
1713  1713           127  28-05-2023   CUST-218  SDT10193(.50)         1
1206  1206           104  01-05-2023   CUST-355    90311-T0016         1
354    354          7840  11-11-2023   CUST-232    23300-75140         2
1394  1394            62  14-03-2023   CUST-292    04495-06050         1
1916  1916           100  27-04-2023   CUST-399    04446-06060         1
2763  2763     Converted  05-01-2023   CUST-365      KYB334400         2
2459  2459  Transactions  02-01-2023   CUST-312    16325-76010         1
2651  2651           135  06-06-2023   CUST-317     DIAMBD-502         1
968    968          3709  14-08-2024   CUST-207    13091-ZK00A         2
683    683          4450  19-04-2024   CUST-663    13503-62030         2
1153  1153            46  24-02-2023   CUST-370    DIAMBD-006U         1
2744  2744           102  29-04-2023   CUST-427        SL3890R         2
1809  1809            12  15-01-2023   CUST-314    35168-21020         1
2397  2397            11  14-01-2023   CUST-432        SHELLAC         2
2493  2493            69  22-03-2023   CUST-345         CBT57L         1
832    832          3833  11-08-2024   CUST-864    44348-33250         1
2608  2608       Recycle  17-01-2023   CUST-180    21200-31U1B         1
69      69          1909  31-10-2023   CUST-806    17801-31131         3
7        7          4842  17-09-2024   CUST-438     DIAMBD-502         2
562    562           500  09-11-2024   CUST-651        SL3890R         1
1233  1233            33  09-02-2023   CUST-168      MK-D-2228         1
2497  2497           131  01-06-2023   CUST-245    17801-31131         1
2797  2797           144  16-06-2023   CUST-198    35330-08010         1
2746  2746            89  14-04-2023   CUST-250    90311-35033         1
1873  1873           128  29-05-2023   CUST-481     DIAMBD-502         1
128    128          2815  10-10-2023   CUST-916    68173-60050         2
2092  2092           134  05-06-2023   CUST-178    04371-60070         2
319    319          9904  18-08-2023   CUST-397      R748A-STD         2
2447  2447            11  14-01-2023   CUST-432        SHELLAC         2
2261  2261           100  27-04-2023   CUST-399    04446-06060         1
1708  1708            86  10-04-2023   CUST-182    12261-31060         1
664    664          2135  10-04-2024   CUST-803    04495-06050         1
1078  1078            59  11-03-2023   CUST-279    13070-ZK01A         1
2623  2623     Converted  05-01-2023   CUST-365      KYB334399         2
894    894          4650  16-07-2023   CUST-465    90311-T0015         3
2077  2077             1  03-01-2023   CUST-292    04465-06090         1
1091  1091           138  09-06-2023   CUST-212    48820-0K030         2
1716  1716            98  24-04-2023   CUST-418    12305-0C011         2
1575  1575           132  02-06-2023   CUST-456    12361-31081         2
549    549          7513  05-03-2025   CUST-436    68172-60060         2
1266  1266            73  26-03-2023   CUST-314    35330-08010         1
2237  2237           109  07-05-2023   CUST-444    90919-01210         6

       Rate TotalPrice       PartDescription Category       Source  \
1775   9.00        9.0         THRUST WASHER   Others          OEM
815   12.95      38.85        BELT','Generic   Others       Source
492   18.26      36.52           AXLE GREASE   Others       Source
2938   7.60        7.6              GUM HOSE   Others          OEM
1848  24.70       49.4        SHOCK ABSORBER   Others  Aftermarket
913   19.48      38.96              LINK ROD   Others          OEM
2823  28.50       57.0        SHOCK ABSORBER   Others  Aftermarket
1373  14.20       14.2          CLUTCH COVER   Others  Aftermarket
1713   8.50        8.5           PISTON RING   Others  Aftermarket
1206   3.80        3.8              OIL SEAL   Others          OEM
354   14.60       29.2          CLUTCH COVER   Others          OEM
1394  12.80       12.8            brake shoe   Others          OEM
1916   5.20        5.2    POWER STEERING KIT   Others          OEM
2763  24.70       49.4        SHELL ABSORBER   Others  Aftermarket
2459   0.90        0.9            TIEROD END   Others          OEM
2651  14.20       14.2          CLUTCH COVER   Others  Aftermarket
968   12.39      24.78         THRUST WASher   Others       Source
683   16.86      33.72          PETROL GAUGE   Others          OEM
1153  12.30       12.3           CLUTCH DISK   Others  Aftermarket
2744   6.01      12.02              LINK ROD   Others  Aftermarket
1809   2.30        2.3           GEAR GASKET   Others          OEM
2397   0.90        1.8             LUBRICANT   Others  Aftermarket
2493   5.70        5.7            BALL JOINT   Others  Aftermarket
832    6.52       6.52  UNIVERSAL JACK COVER   Others       Source
2608   9.00        9.0            THERMOSTAT   Others          OEM
69     9.43      28.29            CLUTCHDISK   Others  Aftermarket
7     14.88      29.76           FUEL FILTER   Others  Aftermarket
562    5.71       5.71            GASKET KIT   Others  Aftermarket
1233   8.20        8.2             BRAKE PAD   Others  Aftermarket
2497  11.90       11.9            air filter   Others          OEM
2797  13.30       13.3          GEAR FILTER    Others          OEM
2746   2.80        2.8              OIL SEAL   Others          OEM
1873  14.20       14.2          CLUTCH COVER   Others  Aftermarket
128   18.74      37.48         THRUST WASHER   Others          OEM
2092  22.80       45.6      UNIVERSAL JOINTS   Others          OEM
319    4.78       9.56             FUEL PUMP   Others  Aftermarket
2447   0.90        1.8             LUBRICANT   Others  Aftermarket
2261   5.20        5.2    POWER STEERING KIT   Others          OEM
1708   2.80        2.8     VENTILATION VALVE   Others          OEM
664    4.50        4.5           CLUTCH DISK   Others          OEM
1078  11.90       11.9       CHAIN TENSIONER   Others          OEM
2623  24.70       49.4        SHOCK ABSORBER   Others  Aftermarket
894    9.73      29.19          CLUTCH COVER   Others  Aftermarket
2077  23.80       23.8             Brake pad   Others          OEM
1091  20.10       40.2              LINK ROD   Others          OEM
1716   7.60       15.2       ENGINE MOUNTING   Others  Aftermarket
1575  43.80       87.6      ENGINE INSULATOR   Others          OEM
549   16.74      33.48                PISTON   Others       Source
1266  13.30       13.3          GEAR FILTER    Others          OEM
2237   3.33       20.0            SPARK PLUG   Others          OEM

      VehicleMake
1775       Toyota
815        Nissan
492        Nissan
2938       Toyota
1848       Nissan
913        Toyota
2823   Mitsubishi
1373   Mitsubishi
1713       Toyota
1206       Toyota
354         Honda
1394       Toyota
1916       Toyota
2763       Nissan
2459       Toyota
2651   Mitsubishi
968       Generic
683         Honda
1153   Mitsubishi
2744       Nissan
1809       Toyota
2397       Nissan
2493       Toyota
832       Generic
2608       Nissan
69         Toyota
7          Nissan
562   VehicleMake
1233       Toyota
2497        Honda
2797       Toyota
2746       Toyota
1873   Mitsubishi
128         Honda
2092       Toyota
319    Mitsubishi
2447       Nissan
2261       Toyota
1708       Toyota
664    Mitsubishi
1078       Nissan
2623       Nissan
894         Honda
2077       Toyota
1091       Toyota
1716       Nissan
1575       Toyota
549        Toyota
1266       Toyota
2237       Toyota

In [10]:
df.head(10)

,id,TransactionID,Date,CustomerID,PartNo,Quantity,Rate,TotalPrice,PartDescription,Category,Source,VehicleMake
0,0,4269,21-01-2023,CUST-342,SDT10193(STD),3,12.89,38.67,CLUTCHDISK,Others,Source,Honda
1,1,8603,22-06-2024,CUST-834,M748A-STD,2,8.97,17.94,LOWER ARM BUSH,Others,Aftermarket,VehicleMake
2,2,5669,17-09-2024,CUST-829,KYB334698,1,4.72,4.72,ENGMATE,Others,OEM,Toyota
3,3,958,13-11-2023,CUST-162,04371-60070,1,5.46,5.46,ENGINE INSULATION,Others,OEM,Nissan
4,4,7117,05-10-2024,CUST-328,GWT131,1,5.95,5.95,SHOCK ABSORBER,Others,Aftermarket,Mitsubishi
5,5,5262,04-08-2024,CUST-523,04495-06050,1,16.77,16.77,GROMMET,Others,Aftermarket,VehicleMake
6,6,2122,18-03-2025,CUST-516,SDT10193(STD),3,17.22,51.66,THRUST WASher,Others,Aftermarket,Nissan
7,7,4842,17-09-2024,CUST-438,DIAMBD-502,2,14.88,29.76,FUEL FILTER,Others,Aftermarket,Nissan
8,8,2847,09-02-2023,CUST-151,11011-38050,3,10.72,32.16,air filter,Others,Aftermarket,Generic
9,9,6858,06-11-2023,CUST-913,72-452,1,9.41,9.41,PETROLLOGGLE,Others,Source,Honda

In [11]:
df.to_csv('cleaned_parts.csv', index=False)

In [36]:
df["Category"=="Breaks"].sum()

KeyError: False